

.firstview_text {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 100px;
  background-image: url(../img/siteimg/firstview.jpg);
  background-size: cover;
  line-height: 300px;
}

h2 {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.about_text {
  text-align: center;
}

strong {
  font-weight: bolder;
}

.blog_card {
  display: flex;
  width: 80%;
  margin: 10px auto;
}
.card {
  padding: 20px 30px 20px 30px;
}
.card_img {
  width: 100%;
}
.card_text {
  padding: 15px 25px;
}

.form {
  margin: 0 10% 0 10%;
}

.form_table {
  max-width: 780px;
  margin: 0 auto 70px;
  width: 100%;
}

.form_table tr {
  margin-bottom: 20px;
}

.form_table th {
  text-align: left;
  padding: 0;
}

.form_table input {
  width: 100%;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.form_table select {
  margin: 10px 0;
  
}

.form_table textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.form_btn {
  text-align: center;
}

.form_table .form_btn-submit {
  width: 200px;
  padding: 10px 0;
  border: 0;
  background: #55bbbb;
  color: #fff;
}

.form_table .form_btn-reset {
  width: 200px;
  padding: 10px 0;
  background-color: #ddd;
  color: #000;
  margin-right: 20px;
}